textarea {
    field-sizing: content;
}

.open {
    animation: open 350ms ease;
}

.close {
    animation: close 300ms ease;
}

@keyframes open {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes close {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0);
    }
}

article {
    --sb-track-color: #232323;
    --sb-thumb-color: #616161;
    --sb-size: 4px;
  }
  
  article::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  article::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 5px;
  }
  
  article::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 5px;
    
  }
  
  @supports not selector(::-webkit-scrollbar) {
    article {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }

  .barr::-webkit-scrollbar {
    width: 5px; /* Ancho de la barra de desplazamiento */
  }
  
  .barr::-webkit-scrollbar-track {
    background: #240547; /* Color del fondo de la barra de desplazamiento */
    border-radius: 10px; /* Bordes redondeados */
  }
  
  .barr::-webkit-scrollbar-thumb {
    background: #471179; /* Color de la barra */
    border-radius: 10px; /* Bordes redondeados de la barra */
  }
  
  .barr::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color de la barra cuando se pasa el mouse por encima */
  }