textarea {
    field-sizing: content;
}

.open {
    animation: open 350ms ease;
}

.close {
    animation: close 300ms ease;
}

@keyframes open {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes close {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0);
    }
}

article, textarea {
    --sb-track-color: #240547;
    --sb-thumb-color: #6118a5;
    --sb-size: 4px;
  }
  
  article::-webkit-scrollbar,
  textarea::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  article::-webkit-scrollbar-track,
  textarea::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 5px;
  }
  
  article::-webkit-scrollbar-thumb,
  textarea::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 5px;
    
  }
  
  @supports not selector(::-webkit-scrollbar) {
    article {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }

  .barr::-webkit-scrollbar {
    width: 5px; 
  }
  
  .barr::-webkit-scrollbar-track {
    background: #240547; 
    border-radius: 10px;
  }
  
  .barr::-webkit-scrollbar-thumb {
    background: #471179; 
    border-radius: 10px; 
  }
  
  .barr::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }